mixin copyright
  .copyright
    .copyright__inner
      .copyright__img-wrap
        svg.copyright__img
          use(xlink:href="#logo_copyright")
        |HTML Academy
      p.copyright__text Сделано&#160;в&#160;
        a.link.link--alt(href="#") HTML&#160;Academy
        |&#160;©2016
